*{
    margin:0px;
    padding:0px;
    /* background-color: rgb(196, 221, 221); */
}

.container{
    
    width: 2000px;
    height: auto;
    background-color: lightblue;
}

h1{
    color: rgb(0, 136, 136);
    text-emphasis-color:bold;
}

h5{
    color: rgb(14, 21, 117)
}

