<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylePledge.css' %}">   
    <title>CommunEty-today</title>
</head>
<body>
    
    <div class="container">
        <h1>Example of how the CommunEty works</h1>
        <a class="float-right" href="/communety">Back to Login</a>
    
        <br><br>    
                 
        <h5>1. Jim's lawn mower won't start, and he is hoping to mow the lawn before his in-laws come for dinner tonight.</h5>
            <br>
        <h5>2. Jim goes to communEty.com and since he already has an account, he logs in and checks out that he is “looking for something.”</h5>
            <br>
        <h5>3. Jim types in a message with his immediate need to borrow a lawnmover.</h5>
            <br>
        <h5>4. Gary is already in the communEty site, and reads Jim's new request.</h5>
            <br>
        <h5>5. Gary comments on Jim's new message that Gary is happy to help.</h5>
            <br> 
        <h5>6. Jim provides Gary a way to directly communicate in a safe manner. </h5>        
            <br> 
        <h5>7. Jim really appreciates being part of the communEty and his in-laws compliment him on his beautiful yard! </h5>
            <br>
        <h5>8. Gary, without any expectations, shared his abundance today! </h5>
        <br><br>
              
            <p>NOTE:  The same process applies for "sharing something"</p>
            <br>
    </div>

</body>
</html>