<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleNewGift.css' %}">   
    <title>Request</title>
</head>
<body>
    <div class="container">  
        <h1>Welcome to the CommunEty's Wall!</h1>
        <br>
        <a href="/communety/dashboard"><strong>Go to Dashboard </strong></a>  <a class="float-right"  href="/communety/logout">Log Out</a> 
        <br><br>
        <br>

        <div class="card">                   
            <div class="card-body">
                <h3>The Wall is the CommunEty's chat room where messages and comments are encourage
                    on the gifts that our members share with us!</h3>
               <br><br>
               <br><br>   
               <p><strong>Pardon our dust!  The Wall is under construction...please come back later...</strong></p>
               <br><br><br>
               <h6>Gratitude and reciprocity are the currency of our CommunEty</h6>
               <br><br>
            </div>
        </div>

        
        <br>

        
    </div>  

</body>
</html>