<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <title>today Welcome to the CommunEty</title>
</head>
<body>
    
    <div class="container">
        
        <h1 class="display-4" ><strong>Our CommunEty today - {{ user.first_name}}</strong></h1>
        <a class="float-right" href="/communety/logout">Log Out</a>      
        <br><br>
             
        <nav class="navbar navbar-expand-lg navbar-light bg-light">    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">       
                <li class="nav-item">
                  <a class="nav-link" href="/communety/dashboard"><button class="btn btn-primary btn-lg"><strong>Looking for something?</strong></button></a>
                </li>
              </ul>
                <a href="/communety/newGift"><button class="btn btn-success btn-lg"><strong>Sharing something?</strong></button></a>
            </div>
        </nav>
        <br>
        <hr> 
        
        <!-- location where map will show up -->
        <div id="map"></div> 
        <br><br>
        
        
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjWl3sQ7qCYCBGblcwkx7POWFGz0NyWvk&callback=initMap"
    type="text/javascript">
    </script>

    <script>
        console.log("testing if our script is running")
        function initMap() {
            console.log("testing initializing map")
            // initialize our geocoder
            geocoder = new google.maps.Geocoder();
          
            geocoder.geocode( { 'address': "{{ user.street_address }} {{ user.city}} , {{ user.state}} {{ user.zip_code}}" }, function(results, status) {
                if (status == 'OK') {
                    console.log(results)
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 12,
                        center: results[0].geometry.location,
                    });

                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        zoom: 4
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

        }
    </script>

</body>
</html>